<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- dev css:assets -->
    <!-- base: normalize,color,hf.css -->
    <link rel="stylesheet" href="/static/css/global.less.css" />
    <link rel="stylesheet" href="/static/css/main.less.css" />
    <!-- HTMLshiv for IE -->
    <!--[if lte IE 9]><script src="/lib/js/html5shiv.min.js"></script><![endif]-->
    </head>
  <body>
    <div class="warpper">
      <img src="static/img/img.png" style="width:960px"alt="daibi" />
    </div>
  </body>
  <script src="/lib/js/jquery.js"></script>
  <script src="/lib/js/underscore.js"></script>
  <script src="/static/js/main.js"></script>
</html>
