<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- dev css:assets -->
    <!-- base: normalize,color,hf.css -->
    <link rel="stylesheet" href="static/css/global.less.css" />
    <link rel="stylesheet" href="static/css/main.less.css" />
    <!-- HTMLshiv for IE -->
    <!--[if lte IE 9]><script src="lib/js/html5shiv.min.js"></script><![endif]-->
    </head>
  <body>
    <div class="warpper">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <!-- module loader -->
      <% include ../global_blocks/header %>
      <% include ../global_blocks/footer %>

      <!-- for requireJS 极致优化 -->
      <script src="lib/js/require.js" data-main="lib/js/main"></script>
      <!-- dev js:assets -->
      <script src="static/js/main.js"></script>
    </div>
  </body>
</html>
