@import "global/reset.less";
@import "global/clearfix.less";
@import "global/color.less";
@import "global/header.less";
@import "global/footer.less";

/* font-family */
body{
  font:12px/1.5 "Microsoft Yahei","微软雅黑",Arial,sans-serif;
  .back-eee;

  .warpper{
    width:960px;
    margin:0 auto;
    /*background: url(/static/img/baidu.jpg) no-repeat;*/
  }
}