@import "global/base.less";
@import "global/header.less";
@import "global/footer.less";

/* font-family */
body{
  font:12px/175%  Arial, 'Microsoft YaHei', Tahoma;
  background: #1c1229;

  .warpper{
    width:960px;
    padding:25px 25px;
    margin:30px auto;
    background:#ece4f7;
  }
}
