<div class="daily">
  <h3>今日关注</h3>
  <hr />
  <% dataArray.articleItems.forEach(function(item){%>
    <dl class="clearfix">
      <dt>【<%=: item.title | truncate_:5 %>】</dt>
      <dd><%= item.title %></dd>
    </dl>
  <% }) %>
</div>
