<div class="daily">
  <h3>今日关注</h3>
  <hr />
  
  <img src="static/baidu.jpg" alt="百度力量" />
  <dl>
    <dt><%= daily.main.title %></dt>
    <dd><%= daily.main.summary %></dd>
  </dl>

  <% daily.list.forEach(function(item){ %>
  <dl>
    <dt><%= item.title %></dt>
    <dd><%= item.summary %></dd>
  </dl>
  <% }) %>

</div>
