<div class="daily">
  <h3>今日关注 TODAY</h3>
  <% todayFocus.forEach(function(item,key){%>
    <% if (key === 0|| key === 1){ %>
    <dl class="clearfix">
      <dt>【<%=: item.title | truncate_:5 %>】<%= key %></dt>
      <dd><%= item.title %></dd>
    </dl>
    <% }else{ %>
      <div><%='['+item.type+']'+item.title %></div>
    <% } %>
  <% }) %>
</div>
