footer{
	width:1010px; margin-left:-25px; font-size: 12px; color:#a9a9a9; background: #515151; border-top:3px solid @pink;

	a{
		color:#a9a9a9;
	}

	div{
		height:130px;

		ol{
			margin-left:236px;
			line-height: 22px;
		}
	}

	p{
		height:42px; line-height: 42px; padding-left:236px; background: #363636;

		a{
			margin-right:50px;
			&:hover{
				text-decoration:underline;
			}
		}
	}
}
